@charset "utf-8";
html,
body{
	height: 100%;
}
body {
    background: #000;
    background: -webkit-radial-gradient(#181818, #000);
    background: radial-gradient(#181818, #000);
    overflow: hidden;
}
body:after {
    background: #181818;
    background: -webkit-radial-gradient(#000, #555);
    background: radial-gradient(#000, #555);
    border-radius: 50%;
    bottom: 0;
    content: '';
    left: 0;
    margin: auto;
    position: absolute;
    right: 0;
    top: 0;
    width: 50px;
    height: 50px;
    will-change: transform;
}
canvas {
    display: block;
}